p,
h3,
body {
    margin: 0;
}


/* .boxes{
    width: 1000px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: #dfdcdc;
    
}

.box{
    width: 326px;
    text-align: center;
    float: left;
    padding:20px;
    box-sizing: border-box;
     background-color: green;

}
.box p{
 padding-top:15px ;
}



.clearfix{
    clear: both;
}

.mr-5{
    margin-right: 10px;
}


@media (max-width:768px) {
   
   .boxes{
       width: 100%;
   }
    .box {
       width: 95%;
       margin-left: 2.5%;
       margin-bottom: 20px;
   }
} */

.flex-container{
    width: 100%;
     margin-top: 100px;
     margin-left: auto;
     margin-right: auto;
     background-color: #dfdcdc;
}


.box {
    text-align: center;
    float: left;
    padding: 20px;
    box-sizing: border-box;
    background-color: green;
    margin: 10px;
    height: 200px;
    /* width: 300px; */
    

}


.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* .box{
     position: relative;
}

.box h3{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
} */

.box{
    display: flex;
    align-items:center;
    justify-content: center;
    
}


.box-1,
.box-3 {
    flex-grow: 1;
}

.box-2{
     flex-grow:10;
}


@media (max-width:768px) {
    .flex-container{
        flex-direction: column-reverse;
    }
}